/*  your css code here. If applicable */
.card{
	width: 200px;
	padding: 30px;
	text-align: center;
	background-color: #f5f5f5;
	box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}
p,h1{
	margin:0;
}
button{
	margin: 10px;
	padding: 5px;
	background-color: red;
	border:0;
	border-radius: 5px;
	color: white;
}